<table
  mat-table
  [dataSource]="personList"
  *ngIf="showPersonList$ | async"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="birth_date">
    <th mat-header-cell *matHeaderCellDef>Birth date</th>
    <td mat-cell *matCellDef="let element">{{ element.birth_date }}</td>
  </ng-container>

  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef>Cpf</th>
    <td mat-cell *matCellDef="let element">{{ element.cpf }}</td>
  </ng-container>

  <ng-container matColumnDef="sex">
    <th mat-header-cell *matHeaderCellDef>Sex</th>
    <td mat-cell *matCellDef="let element">{{ element.sex }}</td>
  </ng-container>

  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef>Height</th>
    <td mat-cell *matCellDef="let element">{{ element.height }}</td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
