<div mat-dialog-title>
  <h1>Person Form</h1>
</div>
<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. Luana Rodrigues"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cpf</mat-label>
        <input matInput placeholder="0567921119" formControlName="cpf" required/>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Height</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. 1.90"
          formControlName="height"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Weight</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. 70.0"
          formControlName="weight"
          required
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="sex" required>
        <mat-label><b>Gender</b></mat-label>
        <mat-radio-button value="M">Male</mat-radio-button>
        <mat-radio-button value="F">Female</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Date of birth"
          formControlName="birth_date"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!personForm.valid">save</button>
  </div>
</form>
